.sources {
  font: 300 1em 'Fira Sans', sans-serif;
  max-height: calc(100dvh - var(--header-height) - 120px);
  overflow-y: auto;
  padding-right: 0;
  @media (min-width: 800px) {
    max-height: calc(100dvh - var(--header-height));
    padding-right: 5px;
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      visibility: hidden;
    }
  }
}

.sources::-webkit-scrollbar {
  width: 5px;
  background-color: #383838;
  transition: all linear 0.2s;
}
.sources::-webkit-scrollbar-thumb {
  background-color: #c9c4c4;
  border-radius: 2px;
}

.sources:hover {
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}

.source__item {
  background: none;
  border: 2px solid #30c5ff;
  font: inherit;
  line-height: 1;
  margin-bottom: 0.5em;
  padding: 1em;
  color: #70d6ff;
  transition: 0.25s;
  cursor: pointer;
  text-align: center;
  &:last-child {
    margin-bottom: 0;
  }
}

.source__item:hover,
.source__item:focus {
  border-color: #3fcc59;
  color: #69db7e;
  box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
  transform: translateY(-0.25em);
  &:first-child {
    transform: none;
  }
}

.source__item-name {
  font-weight: 400;
  white-space: nowrap;
  font-weight: 400;
  white-space: nowrap;
}
