* {
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 50px;
  --footer-height: 100px;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #fff;
  background: #17181c;
  font-family: sans-serif;
}

.header {
}

header h1 {
  font-size: 40px;
  font-weight: 800;
}

.main {
  /* flex: 1 1 100%; */
  /* display: flex; */
  display: grid;
  grid-template-columns: 270px 1fr;
}

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .copyright {
  font-size: 14px;
  color: #333;
  text-align: center;
}
footer .copyright a {
  color: #444;
}
footer .copyright a:hover {
  color: #555;
}
footer .copyright:before {
  content: '©';
}
