.new-game {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.new-game__title {
  flex: 1 0 100%;
  margin-bottom: 50px;
}

.new-game__title,
.new-game__subtitle {
  text-align: center;
}

.new-game__container {
  flex: 0 1 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-game__button {
  // width: 100%;
  width: 200px;
  text-transform: capitalize;
}

.new-game__random {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}
