.track {
  position: relative;
  margin-inline: 20px;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 75px;
    height: 100%;
    width: 5px;
    background-color: white;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 75px;
    height: 100%;
    width: 5px;
    background-color: rgb(255, 201, 40);
    z-index: 2;
  }
}
