html {
  font-size: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: var(--text-dark);
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-color);
  padding: 20px 0 0 0;
}

.blocked {
  overflow: hidden;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding-inline: 40px;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-bottom: 20px;
}

.title {
  font-size: 6rem;
  font-weight: 600;
  line-height: 125%;
  font-feature-settings: 'clig' off, 'liga' off;

  span {
    color: var(--text-accent);
    font-style: italic;
  }
}

.button,
.text {
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--text-dark);
}

.link {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: all linear 0.3s;
  }
  @media (hover: hover) {
    &:hover {
      &::before {
        background-color: currentColor;
        width: 100%;
      }
    }
  }
}
