.login-view {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 5px;
}

.login-view__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 30px;
  width: min(600px, 100%);
  background-color: var(--background-primary);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.233);
}

.login-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 90%;
  margin-bottom: 50px;
}

.login-input {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  border-radius: 7px;
  width: min(350px, 90%);
  border: none;
}

.login-field__notice {
  height: 0;
  text-align: center;
}

.login-view__about,
.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 90px;
  height: 2rem;
  font-size: 1.5rem;
  padding: 3px;
  text-transform: capitalize;
  border-radius: 5px;
  &:disabled {
    &:hover {
      cursor: default;
    }
  }
}

.login-button {
  margin-bottom: 20px;
}
