.users-item {
  cursor: pointer;
  position: relative;
  list-style: none;
  font-size: 1.3rem;
  padding: 10px 5px 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  transition: background-color linear 0.1s;
  user-select: none;
  &::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    border-radius: 50%;
    height: 40%;
    aspect-ratio: 1 / 1;
    transform: translateY(-50%);
  }
  @media (hover: hover) {
    &:hover {
      background-color: var(--background-utility);
    }
  }
}

.users-item__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.users-item_online {
  &::before {
    background-color: var(--user-active);
  }
}
.users-item_offline {
  &::before {
    background-color: var(--user-inactive);
  }
}

.users-item__counter {
  flex: 0 0 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  border: 1px solid white;
}

.users-item_hidden {
  display: none;
}
