.users-item {
  cursor: pointer;
  position: relative;
  list-style: none;
  border: 1px solid white;
  font-size: 1.3rem;
  padding: 10px 0 10px 30px;
  &::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    border-radius: 50%;
    height: 40%;
    aspect-ratio: 1 / 1;
    transform: translateY(-50%);
  }
}

.users-item_online {
  &::before {
    background-color: rgb(85, 196, 15);
  }
}
.users-item_offline {
  &::before {
    background-color: red;
  }
}
