.gallows-container {
  align-self: center;
  @media (max-width: 767px) {
    align-self: baseline;
  }

  @media (max-height: 667px) {
    & {
      width: 100%;
      max-width: 64%;
      justify-self: center;
    }
  }
}

.gallows {
  position: relative;
  aspect-ratio: 1 / 1;
  max-width: 100%;
  margin: 0 auto;
  @media (max-width: 767px) {
    max-width: 300px;
  }
  &::before {
    content: '';
    position: absolute;
    bottom: 2%;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: black;
    z-index: 4;
  }
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url(../../../assets/gallows/1.png) center/ cover no-repeat;
  }
}

.gallows__head {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 19%;
  right: 24.5%;
  /* background-color: red; */
  border: 5px solid black;
  border-radius: 50%;
  z-index: 2;
}

.gallows__body {
  position: absolute;
  height: 33%;
  width: 5px;
  background-color: black;
  z-index: 2;
  top: 41%;
  right: 34.7%;
}

.gallows__left-arm,
.gallows__right-arm,
.gallows__right-leg,
.gallows__left-leg {
  position: absolute;
  height: 20%;
  width: 5px;
  background-color: black;
  z-index: 2;
  top: 41%;
  right: 41.5%;
  transform: rotate(45deg);
}

.gallows__right-arm {
  right: 28%;
  transform: rotate(-45deg);
}

.gallows__left-leg {
  right: 39.5%;
  top: 72%;
  transform: rotate(30deg);
}
.gallows__right-leg {
  right: 29.7%;
  top: 72%;
  transform: rotate(-30deg);
}

.main-title {
  text-align: center;
  text-transform: uppercase;
  font-size: min(6vw, 35px);
}
