.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--container-color);
  border-radius: 40px;
  padding: 99px;
  box-sizing: border-box;
  color: var(--light-color);
  width: min(100%, 1360px);
  margin-bottom: 40px;
}

.footer__text,
.footer__contacts {
  flex: 0 1 530px;
}

.footer__text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__social {
  display: flex;
  gap: 10px;
}

.contacts__subtitle {
  font-size: 2.4rem;
  line-height: 125%;
  margin-block: 36px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.contacts-list__item {
  span {
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  &:nth-child(1) span {
    background: url(/src/assets/svg/map.svg);
  }
  &:nth-child(2) span {
    background: url(/src/assets/svg/phone.svg);
  }
  &:nth-child(3) span {
    background: url(/src/assets/svg/clock.svg);
  }
}

.schedule,
.contacts-link {
  color: var(--light-color);
  display: flex;
  gap: 8px;
  width: fit-content;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid var(--light-color);
  transition: all linear 0.3s;
  @media (hover: hover) {
    &:hover {
      background-color: var(--light-color);
      svg * {
        stroke: var(--text-dark);
      }
    }
  }
}
