.game-page {
  background: url(/src/assets/images/bg-image.jpg) center/ cover no-repeat;
}

.game {
  user-select: none;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  padding-top: 95px;
  width: 100%;
  background-color: rgb(93 142 125);
  --row-width: 60vw;
  @media (max-width: 1400px) {
    --row-width: 70vw;
  }
  @media (max-width: 1200px) {
    --row-width: 80vw;
  }
  @media (max-width: 1000px) {
    --row-width: 95vw;
  }
}

.puzzle-row {
  width: calc(var(--row-width));
  height: calc((var(--row-width) / 18));
  box-shadow: inset 0px 0px 0px 1px rgb(255, 255, 255);
  margin: 0 auto;
  display: flex;
  text-align: center;
}

.puzzle-row_text {
  justify-content: center;
  align-items: center;
}

.placeholder {
  height: calc(1vw * (var(--row-width) / 18));
  box-sizing: border-box;
}

.game-controls {
  order: 3;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.translation-hint {
  position: absolute;
  padding: 0 20px;
  margin: 0;
  top: 105px;
  left: 50%;
  width: calc(100% - 40px);
  color: white;
  font-size: 1.5rem;
  text-align: center;
  transform: translateX(-50%);
  text-shadow:
    2px 0 2px #000000,
    0 1px 1px #000000,
    -1px 0 1px #000000,
    0 -1px 1px #000000;
}

.start-zone {
  font-size: calc(var(--row-width) / 45);
  color: white;
  text-shadow:
    2px 0 2px #000000,
    0 1px 1px #000000,
    -1px 0 1px #000000,
    0 -1px 1px #000000;
}
