@import url('./scss/normalize.scss');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

html,
body {
  height: 100%;
  min-height: 100dvh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(25 31 38);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.locked {
  overflow: hidden;
}

.reconnect {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.802);
  color: white;
  font-size: 3rem;
  text-transform: capitalize;
}
