.dialog {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 10px;
}

.dialog__empty-notification {
  flex: 1 1 auto;
  align-self: center;
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 1.3rem;
}

.dialog__message-separator {
  user-select: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.separator-text {
}

.separator-line {
  flex: 1 1 auto;
  height: 2px;
  background-color: currentColor;
}
