.dialog {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 10px 15px;
}

.dialog__empty-notification {
  flex: 1 1 auto;
  align-self: center;
  display: flex;
  align-items: center;
  justify-items: center;
  user-select: none;
  font-size: 1.3rem;
}

.dialog__message-separator {
  list-style: none;
  position: relative;
  top: -7px;
  margin: 0;
  padding: 0;
  height: 0px;
  max-height: 0px;
  min-height: 0px;
  color: rgba(255, 255, 255, 0.632);
  &:first-child {
    margin-top: auto;
    padding-top: 10px;
  }
}

.separator-container {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  background-color: rgb(16, 95, 6);
  gap: 10px;
}

.separator-text {
}

.separator-line {
  top: 50%;
  flex: 1 1 auto;
  height: 1px;
  background-color: currentColor;
}
