.about-galery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  gap: 40px;
}

.galery-item {
  border-radius: 20px;
  background-position: center;
  background-size: 110%;
  transition: background-size linear 0.3s;
  &:hover {
    background-size: 100%;
  }
  &:nth-child(1) {
    background-image: url(/src/assets/image/about/about-1.jpg);
    padding-bottom: 82%;
  }
  &:nth-child(2) {
    background-image: url(/src/assets/image/about/about-2.jpg);
    padding-bottom: 59.6%;
  }
  &:nth-child(3) {
    background-image: url(/src/assets/image/about/about-3.jpg);
    padding-bottom: 59.6%;
  }
  &:nth-child(4) {
    background-image: url(/src/assets/image/about/about-4.jpg);
    padding-bottom: 82%;
    margin-top: -22%;
  }
}
