.enjoy {
  padding: 100px;
  background: url(/src/assets/image/enjoy/enjoy-bg.jpg) 50% / cover no-repeat;
  border-radius: 40px;
}

.enjoy__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: min(100%, 530px);
}

.enjoy__title {
  color: var(--light-color);
  font-size: 7.2rem;
  font-weight: 600;
  line-height: 105%;
}

.enjoy__text {
  color: var(--light-color);
}

.enjoy__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 64px;
  background-color: var(--light-color);
  border-radius: 100px;
}
