.favourite-coffee {
  padding-bottom: 42px;
}

.favourite-coffee__title {
  text-align: center;
  margin-bottom: 39px;
}

.slider {
  position: relative;
  display: flex;
  align-items: center;
}

.slider-frame {
  overflow: hidden;
  position: relative;
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 480px) 1fr;
}

.slider-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  color: var(--container-color);
  border: 1px solid var(--container-color);
  transition: all linear 0.3s;
  @media (hover: hover) {
    &:hover {
      color: var(--light-color);
      background-color: var(--container-color);
    }
  }
  svg * {
    stroke: currentColor;
  }
  &__prev {
    transform: rotate(180deg);
  }
  @media (max-width: 640px) {
    display: none;
  }
}

@media (min-width: 1000px) {
  .slider-button__next {
    margin-right: 4px;
  }
  .slider-button__prev {
    margin-left: 4px;
  }
}

.slide {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  position: relative;
  max-width: 480px;
  left: 0%;
  animation: 0.5s ease-in-out;
  text-align: center;
  font-weight: 600;
  line-height: 125%;
  font-size: 2.4rem;
}

.slide__image {
  padding-bottom: 100%;
  background-position: center;
  background-size: cover;
}

.slide__price,
.slide__title {
  font-size: 2.4rem;
}

.slide__title {
  @media (max-width: 400px) {
    margin: 4px 0 -2px 0;
  }
}

.slide__description {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}

.slide_to-left {
  animation-name: left;
}

.slide_to-right {
  animation-name: right;
}

.slide_from-left {
  position: absolute;
  top: 0;
  animation-name: left;
  animation-direction: reverse;
}

.slide_from-right {
  position: absolute;
  top: 0;
  animation-name: right;
  animation-direction: reverse;
}

@keyframes left {
  0% {
    left: 0%;
  }
  100% {
    left: -200%;
  }
}

@keyframes right {
  0% {
    left: 0%;
  }
  100% {
    left: 200%;
  }
}

.progress-bar {
  display: flex;
  gap: 12px;
  position: absolute;
  bottom: -42px;
  left: 50%;
  transform: translateX(-50%);
}

.progress-bar__button {
  pointer-events: none;
  width: 40px;
  height: 4px;
  border: none;
  outline: none;
  transition: background-color linear 0.5s;
  background-color: var(--border-light);
  &:disabled {
    background-color: var(--container-color);
  }
}
