.mobile-app {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mobile-app__image {
  padding-bottom: 87.5%;
  background: url(/src/assets/image/mobile-app/mobile-screens.png) 50% / cover
    no-repeat;
}
