.mobile-app {
  display: grid;
  grid-template-columns: 1fr 7% 1fr;
}

.mobile-app__image {
  grid-column: 3 / 4;
  padding-bottom: 87.5%;
  background: url(/src/assets/image/mobile-app/mobile-screens.png) 50% / cover no-repeat;
}

.mobile-app__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-app__text {
  font-weight: 400;
}

.store {
  display: flex;
  gap: 20px;
  &-button {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 36px 1fr;
    grid-template-rows: 1fr 1fr;
    width: 200px;
    height: 64px;
    padding: 12px 20px;
    border-radius: 100px;
    border: 1px solid var(--container-color);
    font-weight: 600;
    color: var(--text-dark);
    transition: all linear 0.3s;
    @media (hover: hover) {
      &:hover {
        background-color: var(--container-color);
        color: var(--light-color);
      }
    }
  }
  svg {
    grid-row: span 2;
    align-self: center;
    & * {
      fill: currentColor;
    }
  }
}

.store-button__text {
  font-size: 1rem;
  line-height: 140%;
}

.store-button__marketpace {
  font-size: 1.6rem;
  line-height: 150%;
}
