.message-item {
  background-color: rgb(51, 64, 80);
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  list-style: none;
  min-width: min-content;
  max-width: 90%;
  padding: 10px;
  border-radius: 10px;
}

.message-item_outgoing {
  justify-self: end;
}

.message-item_incoming {
  justify-self: start;
}
