.message-item {
  position: relative;
  background-color: rgb(51, 64, 80);
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  list-style: none;
  min-width: 150px;
  max-width: 90%;
  padding: 27px 8px 7px 8px;
  border-radius: 10px;
  margin-bottom: 25px;
  &:first-child {
    margin-top: auto;
  }
}

.message-item_outgoing {
  align-self: end;

  .message-item__info {
    right: 3px;
  }
  .message-sender {
    color: rgb(140, 230, 255);
  }
  .message-time {
    order: 3;
  }
  .message-status {
    order: 2;
  }
  .message-edit {
    order: 1;
  }
}

.message-item_incoming {
  align-self: start;
  .message-item__info {
    left: 3px;
  }
  .message-sender {
    color: rgb(241, 154, 2);
  }
  .message-edit {
    order: 2;
  }
  .message-time {
    order: 1;
  }
}

.message-text {
}

.message-status,
.message-time {
  font-size: 0.8rem;
  opacity: 0.7;
  text-transform: uppercase;
}

.message-sender {
  pointer-events: none;
  cursor: default;
  position: absolute;
  top: 5px;
  font-size: 1rem;
  text-decoration: underline;
}
.message-item__info {
  user-select: none;
  position: absolute;
  gap: 3px;
  display: flex;
  bottom: -17px;
  right: 3px;
}

.message-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.message-menu__delete,
.message-menu__edit {
  padding-inline: 15px;
}
