.messages-input-field {
  position: relative;
  display: flex;
  height: 50px;
  // border-top: 1px solid white;
  background-color: var(--background-secondary);
}

.field-input {
  flex: 0 1 90%;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.1rem;
  font-weight: 300;
  padding-left: 10px;
  &::placeholder {
    padding-left: 10px;
  }
  &:focus {
    border: none;
    outline: none;
  }
}

.field-submit {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: url(/src/assets/icons/send.png) center / 50% no-repeat;
  border: none;
}

.input-field__edit-indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: -81%;
  font-weight: 400;
  width: calc(100% - 40px);
  padding: 10px 20px;
  background-color: rgb(93, 134, 134);
}

.edit-indicator__close {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 20px;
  // background-color: red;
  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: white;
  }
  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
