.about {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 5px;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 30px;
  gap: 30px;
  width: min(700px, 100%);
  background-color: var(--background-primary);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.233);
}

.about-title {
  margin: 0;
}

.about-text {
  width: 90%;
  font-size: 1.3rem;
  text-align: center;
}

.about-author {
  font-size: 1.3rem;
  color: var(--text-color);
}

.about-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 90px;
  height: 2rem;
  font-size: 1.5rem;
  padding: 3px;
  text-transform: capitalize;
  border-radius: 5px;
}
