@import url('./scss/normalize.scss');

html,
body {
  min-height: 100dvh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(89, 125, 125);
  padding-inline: 20px;
}

.locked {
  overflow: hidden;
}
