.left-bar {
  display: flex;
  flex-direction: column;
}

.left-bar__row {
  display: flex;
  justify-content: right;

  background-color: rgb(112, 112, 112);
}

.bar-cell {
  width: 50px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upper-bar {
  display: flex;
}
