.bar {
  gap: 2px;
  font-size: 10px;
}

.main {
  padding-top: 100px;
}

.left-bar {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}

.left-bar__row {
  display: flex;
  justify-content: end;
}

.upper-bar__row {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-self: flex-end;
}

.bar-cell {
  position: relative;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(171, 171, 171);
}

.upper-bar {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
