.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: inline-block;
  width: 100px;
  height: 60px;
  background: url(/src/assets/svg/logo.svg) 50% / cover no-repeat;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: min(100%, 600px);
}
