.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header > .navigation-link {
  display: flex;
  gap: 4px;
  &::after {
    content: '';
    display: inline-block;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: url(/src/assets/svg/coffee-cup.svg) 50% / cover no-repeat;
  }
}

.logo {
  display: inline-block;
  width: 100px;
  height: 60px;
  background: url(/src/assets/svg/logo.svg) 50% / cover no-repeat;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: min(100%, 600px);
}
