.info {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 20%;
  font-size: min(5vw, 25px);
  @media (max-height: 700px) {
    gap: 10%;
  }
}

.info__question {
  text-align: center;
}

.info__secret-word {
  font-size: min(9vw, 45px);
  letter-spacing: 1.2vw;
  text-transform: uppercase;
}
