.puzzle {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  max-width: 700px;
  background-color: rgb(109, 109, 109);
  margin: 0 auto;
}

.left-bar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.upper-bar {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.field {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
