.puzzle {
  display: grid;
  margin: 0 auto;
}

.puzzle_15 {
  max-width: 800px;
}

.puzzle_10 {
  max-width: 500px;
}

.puzzle_5 {
  max-width: 300px;
}

.left-bar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.upper-bar {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.field {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.puzzle_dog,
.puzzle_chicken {
  grid-template-columns: 1fr 2.5fr;
}

.puzzle_clock,
.puzzle_fountain {
  grid-template-columns: 1fr 1.66fr;
}

.puzzle_worm,
.puzzle_cocktail,
.puzzle_fish,
.puzzle_helicopter {
  grid-template-columns: 1fr 3.3fr;
}

.puzzle_bike,
.puzzle_kettle {
  grid-template-columns: 1fr 2.5fr;
}

.puzzle_bee {
  grid-template-columns: 1fr 2.5fr;
}

.puzzle_scales,
.puzzle_cat,
.puzzle_camera {
  grid-template-columns: 1fr 3fr;
}
